@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");

body {
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

/* color principal */
.navbar-nav .nav-link,
.navbar-nav .nav-item.dropdown .dropdown-item {
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #9abd0f !important;
}

.btn-primary,
.bg-primary,
.navbar-primary,
.nav-link-reserva,
section header .square {
  border-color: #9abd0f !important;
  background-color: #9abd0f !important;
  outline-color: transparent !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #9abd0f;
}

.bg-secundary {
  border-color: #76ab20 !important;
  background-color: #76ab20 !important;
  outline-color: transparent !important;
}

.bg-gray {
  border-color: #5d5d5d !important;
  background-color: #5d5d5d !important;
  outline-color: transparent !important;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(155, 191, 36, 0.486) !important;
  box-shadow: 0 0 0 0.2rem rgba(155, 191, 36, 0.486) !important;
  border-color: #9abd0f !important;
}

.btn-default.focus,
.btn-default:focus,
.btn-default.focus,
.btn-default.focus:active,
.btn-default:active:focus,
.btn-default:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.bg-primary:focus,
.bg-primary:hover {
  border-color: #9abd0f !important;
  background-color: #9abd0f !important;
  outline-color: transparent !important;
}

.btn-link,
.nav-link {
  color: #9abd0f;
}

.btn-link:hover,
.nav-link:hover {
  color: #a7c431;
}

header .header-mobile .active .nav-link,
.navbar-light .navbar-nav .nav-item.active a {
  color: #a7c431;
}

header .header-top {
  background-color: #f4f4f4;
}
header .header-middle {
  background-color: #fff;
}
header .nav-social a {
  color: #000000;
}

header .header-mobile .nav-item {
  border-bottom: 1px solid #eee;
}

header .header-mobile,
header .header-mobile .nav-link {
  color: #6c757d;
}

section header .square {
  width: 5px;
  height: 30px;
}

section header h1 {
  font-size: 1.8rem;
  color: #6c757d;
  font-weight: 700;
  text-transform: uppercase;
}

section header .bar {
  width: 200px;
  height: 2px;
  background-color: #c9c9c9;
}

.navbar-light .navbar-nav .nav-item-reserva .nav-link-reserva {
  border-radius: 2px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-caption {
  top: 30%;
}

.carousel-caption h2 {
  font-size: 85px;
}

.carousel-caption p {
  font-size: 26px;
}

section.reservas {
  color: white;
}

section.reservas h2 {
  font-size: 1.7rem;
}

section.reservas h2 img {
  height: 34px;
  vertical-align: bottom;
}

section.reservas h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 0;
}

section.reservas .text-contact-info {
  font-size: 1.1rem;
  color: white;
}

section.reservas .text-contact-info img {
  width: 36px;
}

section.reservas .text-contact-info a {
  color: white;
  text-decoration: none;
}

section.reservas .reserva .btn-outline-light {
  color: white;
  font-size: 1.6rem;
  background-color: transparent;
  border-color: #8fba0d;
  border-radius: 10px;
  padding: 15px;
}

section.reservas .reserva .btn-outline-light:hover {
  color: white;
  background-color: #8fba0d;
  border-color: #8fba0d;
}

.w-40 {
  width: 40%;
}

.box {
  width: 80%;
}

section.hotel {
  color: #6c757d;
}

section.hotel .content .description {
  margin-bottom: 30px;
}

section.hotel .btn-outline-secondary {
  border-color: #9abd0f;
}

section.hotel .btn-outline-secondary:hover {
  border-color: #9abd0f;
  background-color: #9abd0f;
}

section.hotel .article .btn-outline-secondary {
  border-radius: 0;
}

section.hotel article .btn-outline-secondary {
  border-radius: 0;
}

section.habitaciones {
  background-color: #f7f7f7;
}

section.habitaciones article {
  text-align: center;
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 25px;
}

section.habitaciones article h3 {
  font-size: 22px;
  margin: 0;
  text-transform: uppercase;
  padding-top: 20px;
}

section.habitaciones .btn-outline-secondary {
  border-color: #9abd0f;
}

section.habitaciones .btn-outline-secondary:hover {
  border-color: #9abd0f;
  background-color: #9abd0f;
}

section.habitaciones .article .btn-outline-secondary {
  border-radius: 0;
}

section.habitaciones article .btn-outline-secondary {
  border-radius: 0;
}

section.gallery .controls .next,
section.gallery .controls .prev {
  font-size: 25px;
  padding: 2px;
  color: #9abd0f;
}

section.gallery .frame {
  height: 230px;
  line-height: 230px;
  overflow: hidden;
}
section.gallery .frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 50px;
}
section.gallery .frame ul li {
  float: left;
  width: 364px;
  height: 100%;
  margin: 0 5px 0 5px;
  padding: 0;
  background: #333;
  color: #ddd;
  text-align: center;
  cursor: pointer;
}
section.gallery .frame ul li.active {
  color: #fff;
  background: #a03232;
}

/* Scrollbar */
section.gallery .scrollbar {
  margin: 0 0 1em 0;
  height: 2px;
  background: #ccc;
  line-height: 0;
  display: none;
}

section.maps {
  margin: 30px 0 0;
  height: 640px;
}

section.maps .map {
  height: 640px;
}

section.events {
  margin: 0 0 50px 0;
}

section.events .controls .next,
section.events .controls .prev {
  font-size: 25px;
  padding: 2px;
  color: #9abd0f;
}

section.events .frame {
  height: 480px;
  line-height: 480px;
  overflow: hidden;
}
section.events .frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 50px;
}
section.events .frame ul li {
  float: left;
  width: 364px;
  height: 100%;
  margin: 0 5px 0 5px;
  padding: 0;
  background: #333;
  color: #ddd;
  text-align: center;
  cursor: pointer;
  position: relative;
}
section.events .frame ul li.active {
  color: #fff;
  background: #a03232;
}

section.events .frame ul li > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

section.events .frame ul li div {
  font-size: 18px;
  line-height: 18px;
}

section.events .frame ul li div p {
  padding: 15px;
}

section.blogs {
  background-color: #f7f7f7;
}

section.blogs header {
  margin-bottom: 40px;
}

section.blogs .post {
  margin: 10px 0;
  border-left: 1px solid #eee;
}

section.blogs .post .date .day {
  font-size: 32px;
  padding: 10px;
  line-height: 30px;
}

section.blogs .post .date .yearmonth {
  font-size: 15px;
  padding: 5px;
}

section.blogs .post .date .yearmonth div {
  border-left: 1px solid #ccc;
  padding-left: 15px;
}
section.blogs .post h3 {
  color: #9abd0f;
  padding-left: 10px;
  font-size: 2rem;
}

section.blogs .post p {
  padding-left: 10px;
}

footer .social {
  padding: 15px 0 0;
  color: #fff;
}

footer .social .nav-social a {
  padding-top: 0;
  color: #fff;
}

footer .social .nav-social a img {
  width: 42px;
}

footer .social .nav-social a:hover {
  opacity: 0.8;
}

.icono-mail {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 20px;
}

footer .social .btn-outline-secondary {
  background-color: #fff;
  color: #aaa;
  border: none;
}

footer .social .form-control {
  border: none;
}

footer .social .separador {
  background-color: #fff;
}

footer .social .separador .linea {
  height: 60%;
  border-left: 2px solid #ccc;
}

footer .menues {
  padding: 40px 0 10px;
}

footer .menues .nav-link {
  color: #9abd0f;
}

footer .menues .nav-link:hover {
  color: #a7c431;
}

/**** ElHotel ***/
.elhotel section.hotel {
  background-color: #f7f7f7;
}

.elhotel section.services .sevice-list > div > div {
  box-shadow: 0px 0px 10px #0000001a;
}

/**** Habitaciones ***/

.habitaciones .main header,
.habitaciones .main header h1 {
  color: #fff;
  font-weight: 700;
}

.habitaciones .main .blocks img {
  position: relative;
}

.habitaciones .main .blocks .room > h2 {
  position: absolute;
  bottom: 10%;
  color: white;
  padding: 5px;
  left: 10%;
}

.habitaciones .main .blocks .room > h2 span {
  display: block;
  font-size: 0.8rem;
}

.habitaciones .main .blocks .over {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  padding: 10px;
  background-color: #fffc;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.8s;
}
.habitaciones .main .blocks .over .borderbox {
  border: 2px solid;
  height: 100%;
  padding: 25px;
}

.habitaciones .main .blocks .room:hover .over {
  opacity: 1;
}

.habitaciones .main .blocks .room:hover > h2 {
  display: none;
}

.habitaciones .main .blocks .borderbox > h2 {
  color: #9abd0f;
  display: block;
  margin-bottom: 10%;
}

.habitaciones .main .blocks .borderbox > h2 span {
  color: #000000;
  display: block;
  font-size: 0.8rem;
  color: #6c757d;
}

.habitaciones .main .blocks .borderbox > strong {
  color: #555;
  font-weight: 600;
}

.habitaciones .main .blocks .borderbox > p {
  color: #6c757d;
  font-size: 0.8rem;
}

/****   ROOM DETAIL  ****/

.habitaciones .main {
  color: #6c757d;
}
.habitaciones .main .carousel-indicators {
  justify-content: left;
  position: relative;
  padding: 10px 0;
  margin: 0;
}

.habitaciones .main .carousel-indicators li {
  width: 100px;
  height: auto;
  border: none;
}

.habitaciones .main .reservar {
  font-size: 1.6rem;
}

.habitaciones .main .contact-form {
  background-color: #f7f7f7;
}

.habitaciones .main .contact-form h4 {
  font-size: 1.2rem;
  color: #6c757d;
  margin: 0;
}

.habitaciones .main .contact-form h3 {
  font-size: 2rem;
  color: #9abd0f;
  margin: 0;
  font-weight: 900;
}

.habitaciones .main form .form-group {
  margin-bottom: 5px;
}

.habitaciones .main form .form-group label {
  font-size: 1rem;
  font-weight: 600;
}

.habitaciones .main h2 {
  font-size: 1.4rem;
  color: #6c757d;
  font-weight: 400;
  margin: 0 0 -0.4rem;
}

.habitaciones .main h4 {
  font-size: 1rem;
}

.habitaciones .main ul {
  padding-left: 1rem;
}

.habitaciones .main .title {
  border-right: 1px solid #eee;
}

.habitaciones .main .title > div {
  height: 80px;
  padding-bottom: 20px;
  border-bottom: 2px solid #999;
}

.habitaciones .main .title .orangebox {
  width: 10px;
  background-color: #9abd0f;
  height: 100%;
  margin-right: 10px;
}

.habitaciones .main .others h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.habitaciones .main .others .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.habitaciones .main .others .row h6 {
  font-size: 1.2rem;
  color: #000000;
  display: block;
  margin-bottom: 10%;
}

.habitaciones .main .others .row h6 strong {
  font-size: 0.8rem;
  color: #000;
  font-weight: 600;
  display: block;
}
.habitaciones .main .others .row .btn-outline-secondary {
  font-size: 1rem;
  border-color: #9abd0f;
}
.habitaciones .main .others .row .btn-outline-secondary:hover {
  border-color: #9abd0f;
  background-color: #9abd0f;
}

.habitaciones .main .others .row .btn-outline-secondary {
  border-radius: 0;
}

/* UBICACION */

.ubicacion .main {
  background-color: #f7f7f7;
}

.ubicacion .maps {
  margin: 30px 0 0;
  height: 640px;
}

.ubicacion .maps .map {
  height: 640px;
}

.ubicacion .contact-form {
  background-color: #f7f7f7;
}

.ubicacion .contact-form h4 {
  font-size: 1.2rem;
  color: #6c757d;
  margin: 0;
}

.ubicacion .contact-form h3 {
  font-size: 2rem;
  color: #9abd0f;
  margin: 0;
  font-weight: 900;
}

.ubicacion form .form-group {
  margin-bottom: 5px;
}

.ubicacion form .form-group label {
  font-size: 1rem;
  font-weight: 600;
}

/**** galeria ***/

.galeria-page .main header,
.galeria-page .main header h1 {
  color: #fff;
  font-weight: 700;
}

.card-columns {
  column-count: 2;
}
.card-columns .card{
	break-inside: avoid-column;
}
.card-columns img{
	width: 100%;
	display:block;
}

.lg-prev,
.lg-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.lg-prev:hover,
.lg-prev:focus,
.lg-next:hover,
.lg-next:focus{
    color: transparent;
    outline: none;
    background: transparent;
}
.lg-prev:hover:before,
.lg-prev:focus:before,
.lg-next:hover:before,
.lg-next:focus:before{
    opacity: 1;
}
.lg-prev.slick-disabled:before,
.lg-next.slick-disabled:before{
    opacity: .25;
}

.lg-prev:before,
.lg-next:before{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lg-prev{
    left: -25px;
}
[dir='rtl'] .lg-prev{
    right: -25px;
    left: auto;
}
.lg-actions .lg-prev:before{
    content: '←';
}
[dir='rtl'] .lg-prev:before{
    content: '→';
}

.lg-next{
    right: -25px;
}
[dir='rtl'] .lg-next{
    right: auto;
    left: -25px;
}
.lg-actions .lg-next:before{
    content: '→';
    left: -20px;
    position: relative;
}
[dir='rtl'] .lg-next:before{
    content: '←';
}
.lg-actions .lg-prev::after{
	display: none;
}
.lg-toolbar.group{
/*	display:none !important;	*/
}
.lg-actions .lg-next, .lg-actions .lg-prev{
	background: none;
}

/*
.lg-actions .lg-next, .lg-actions .lg-prev{
	color:#9abd0f;
}
.lg-prev::before, 
.lg-next::before {
	font-family: 'slick';
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 30px;
	line-height: 1;
	color: #9abd0f;
}
.lg-actions .lg-prev::after{
	content: '←';
}
.lg-actions .lg-next::after{
	content: '→';
}
*/
/*** beach clug ***/

.slick-prev,
.slick-next {
  width: 30px;
  height: 30px;
}

.slick-prev::before,
.slick-next::before {
  font-size: 30px;
  line-height: 1;
  color: #9abd0f;
}

.element:nth-child(even) {
  background: #f7f7f7;
}
.element:nth-child(odd) {
  background: #fff;
}

/* Beach Club */

.beachclub .content .description p {
  text-align: center;
}

/*** promociones ****/
.promociones .main header,
.promociones .main header h1 {
  color: #fff;
  font-weight: 900;
}

.promociones .main .blocks img {
  position: relative;
}

.promociones .content {
  font-size: 16px;
}

.promociones .content h1 {
  font-size: 20px;
  font-weight: 700;
}

.promociones .content h2 {
  font-size: 19px;
}

.promociones .content h3 {
  font-size: 18px;
}

.promociones .content h4 {
  font-size: 16px;
}

.legales {
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: justify;
}

.promociones .promocion-form,
.promociones .others {
  background-color: #f7f7f7;
}

.promociones .promocion-form h4 {
  font-size: 1.2rem;
  color: #6c757d;
  margin: 0;
}

.promociones .promocion-form h3 {
  font-size: 2rem;
  color: #9abd0f;
  margin: 0;
  font-weight: 900;
}

.promociones form .form-group {
  margin-bottom: 5px;
}

.promociones form .form-group label {
  font-size: 1rem;
  font-weight: 600;
}

.promociones .main .others .row .btn-outline-secondary {
  font-size: 1rem;
  border-color: #9abd0f;
}
.promociones .main .others .row .btn-outline-secondary:hover {
  border-color: #9abd0f;
  background-color: #9abd0f;
}

.promociones .main .others .row .btn-outline-secondary {
  border-radius: 0;
}

/*** CONTACTO ***/

.contacto .main .title > div {
  height: 80px;
  padding-bottom: 20px;
  border-bottom: 2px solid #999;
}

.contacto .main .title .orangebox {
  width: 10px;
  background-color: #9abd0f;
  height: 100%;
  margin-right: 10px;
}

.contacto .reservas .bg-gray {
  background-color: #b1aeac !important;
}

.contacto .reservas {
  color: white;
  background-color: #f7f7f7;
  font-size: 0.8rem;
}

.contacto .direccion h3 {
  font-size: 1rem;
}

.contacto .direccion {
  font-size: 1rem;
}

.contacto .direccion p {
  font-size: 1rem;
  margin: 0;
}

.contacto .reservas {
  margin-bottom: 20px;
}

.contacto .reservas h2 {
  color: #9abd0f;
  font-size: 1.4rem;
}

.contacto .reservas h2 img {
  height: 75px;
  vertical-align: middle;
}

.contacto .reservas h3 {
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.contacto .reservas .text-contact-info,
.contacto .reservas .text-contact-info a {
  font-size: 1rem;
  color: #5c5c5c;
  font-weight: 900;
  text-decoration: none;
}

.contacto .reservas .text-contact-info img {
  width: 36px;
}

.contacto .reservas .reserva .btn-outline-light {
  color: white;
  font-size: 1.9rem;
  background-color: transparent;
  border-color: #8fba0d;
  border-radius: 10px;
  padding: 15px;
}

.contacto .reservas .reserva .btn-outline-light:hover {
  color: white;
  background-color: #8fba0d;
  border-color: #8fba0d;
}

.contacto .maps {
  margin: 30px 0 0;
  height: 640px;
}

.contacto .maps .map {
  height: 640px;
}

.suscripcion .main h1 {
  color: #8fba0d;
  font-weight: 700;
}

.suscripcion .main p {
  color: #5c5c5c;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 700;
}
.agradecimiento .main img {
  padding:130px 0 50px
}
.agradecimiento .main h1 {
  color: #8fba0d;
  font-weight: 700;
  text-transform: inherit;
  font-size:2.875rem;
}

.agradecimiento .main p {
  color: #5c5c5c;
  font-size: 2.0rem;
  line-height: 2.8rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

/*** eventos ****/
.eventos .main header,
.eventos .main header h1 {
  color: #fff;
  font-weight: 900;
}
.eventos-container h2 {
    font-size: 2rem;
    color: #9abd0f;
    margin: 0;
    font-weight: 900;
}

/*** Blog ****/
.blog{
	
}
.blog-container aside{
	background:#f4f4f4;
}
.blog-container aside h3{
	text-transform:uppercase;
}
.blog-container aside a{
	color: #5d5d5d;
}

.blog-container aside ul{
	list-style: none;
	margin: 0;
}
.listado-entradas{
	margin: 10px -5px;
}
.listado-entradas .fecha-entrada{
	width: 30%;
	padding: 0 5px;
	font-size: 10px;
}
.listado-entradas .titulo-entrada{
	width: 70%;
	padding: 0 5px;
}
.fecha-entrada div{
	border: 3px solid #9abd0f;
	width:100%;
	text-align: center;
	display: flex;
	flex-direction:column;
	justify-content:center;
	padding: 10px 0;
}
.fecha-entrada strong{
	font-size: 3.7em;
	line-height: 1.0;
}
.fecha-entrada span{
	font-size: 2.0em;
	line-height: 1.0;
}
.titulo-entrada{
	font-size: 10px;
	display: flex;
	flex-direction:column;
	justify-content:end;
}
.titulo-entrada h2{
	color: #9abd0f;
	font-size: 2.1em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
}
.titulo-entrada p{
	font-size:1.1em;
	margin-bottom: 10px;
}

.entrada-area .fecha-entrada{
	font-size: 16px;
}
.entrada-contenido h1{
	color: #9abd0f;
	font-size: 3.6em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	line-height: 1.0;
}
.entrada-contenido small{
	display: block;
	font-size:0.875em;
}
